<div class ="container">
<h1>Stupid Coaching</h1>
</div>

<div class = 'container'>
<form action="/answer" data-turbo="false">
  <input type="text" name="questions">
  <input type="submit" value="Ask!">
</form>
</div>

<div class = 'container'>
<li><%= link_to 'Ask a new question', ask_path %></li>
</div>
